/* Columns
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
}

$col-max: 100%;
$col-count: 12;

@media (min-width: $break-medium) {
  
  .row {
    margin-left: -1em;
    margin-right: -1em;
    @include clearfix;
  }

  .col-md-left {
    float: left;
  }

  .col-md-right {
    float: right;
  }
  
  .col-md, .container {
    padding: 0 1em;
  }
  
  .col-md-1 { width: $col-max/$col-count*1; }
  .col-md-2 { width: $col-max/$col-count*2; }
  .col-md-3 { width: $col-max/$col-count*3; }
  .col-md-4 { width: $col-max/$col-count*4; }
  .col-md-5 { width: $col-max/$col-count*5; }
  .col-md-6 { width: $col-max/$col-count*6; }
  .col-md-7 { width: $col-max/$col-count*7; }
  .col-md-8 { width: $col-max/$col-count*8; }
  .col-md-9 { width: $col-max/$col-count*9; }
  .col-md-10 { width: $col-max/$col-count*10; }
  .col-md-11 { width: $col-max/$col-count*11; }
  .col-md-12 { width: $col-max/$col-count*12; }

  .col-md-push-1 { margin-left: $col-max/$col-count*1; }

}
