/* Links
   ========================================================================== */

a {
  text-decoration: none;
  transition: all .22s ease-out;
  transition-property: color, border;
}

a:link {
  color: $accent-color;
  border-bottom: 1px solid mix($accent-color,#FFF,35%);
}

a:visited {
  color: mix($accent-color,#F00,65%);
  border-bottom: 1px solid mix(mix($accent-color,#F00,65%),#FFF,35%);
}

a:active,
a:focus,
a:hover {
  color: mix($accent-color,#000,80%);
  border-bottom: 1px solid mix($accent-color,#000,80%);
}
