/* ==========================================================================
  Mixins
   ========================================================================== */

/* Fonts for headings
   ========================================================================== */

@mixin font-heading {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Fonts for reading
   ========================================================================== */

@mixin font-reading {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin font-reading-bold {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin font-reading-italic {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}

/* Utilities
   ========================================================================== */

@mixin reset-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* Links
   ========================================================================== */

@mixin swap-underlines {
  a:link,
  a:visited {
    border: none;
  }

  a:active,
  a:focus,
  a:hover {
    color: mix($accent-color,#000,80%);
    border-bottom: 1px solid mix($accent-color,#000,80%);
  }
  
}

@mixin clearfix {
  *zoom : 1;

  &:before,
  &:after {
    display: table;
    content : "";
  }

  &:after {
    clear : both;
  }
}
