/**
 * Variables
 */

// Colors
$standard-color:       #494B53;
$accent-color:         #4776E6;
$muted-color:          #999;

// Colors with semantic names
$border-color:         #DEDEDE;

// Spacing
$el-side-padding-lg:   0.2em;

// Breakpoints
$break-nav:            620/16*1em;
$break-small-medium:   480/16*1em;
$break-medium:         800/16*1em;
$break-large:          1000/16*1em;
$break-huge:           1260/16*1em;
$break-x-huge:         1600/16*1em;