/* Variables
   ========================================================================== */

// Colors

$text-standard-color:   #494B53;
$text-standard-color-i: #D7D7D7;
$text-heading:          #000;
$text-heading-i:        #FFF;

$accent-color:         #2B5CD1;
$accent-color-i:       #89A7F0;
$bg-lightest:          #EEE;
$bg-lightest-i:        #3D4246;
$muted-text:           #6C6C6C;
$muted-text-i:         #7E8D99;
// Colors with semantic names
$border-color:         #C1C3C7;
$border-color-i:       #5B6065;

// Breakpoints

// Semantic
$break-nav:            620/16*1rem;

// By size
$break-small-medium:   480/16*1rem;
$break-medium:         768/16*1rem;
$break-large:          1000/16*1rem;
$break-huge:           1260/16*1rem;
$break-x-huge:         1600/16*1rem;