/* Variables
   ========================================================================== */

// Colors

$text-standard-color:   #494B53;
$text-standard-color-i: #D7D7D7;
$text-heading:          #000;
$text-heading-i:        #FFF;
$bg-lightest:           #EEE;
$bg-lightest-i:         #3D4246;
$visited-link-color:    #B395E7;
$accent-color:          #2B5CD1;
$accent-color-i:        #89A7F0;
$muted-text:            #6C6C6C;
$muted-text-i:          #7E8D99;
$border-color:          #C1C3C7;
$border-color-i:        #5B6065;

// Breakpoints

// Semantic
$break-nav:            620px;

// By size
$break-small-medium:   480px;
$break-medium:         768px;
$break-large:          1000px;
$break-huge:           1260px;
$break-x-huge:         1600px;