// Library vars and mixins
@import "compass";
@import "variables";
@import "mixins";
@import "scaffolding";
@import "typography";

/**
 * Import patterns
 */

@import "patterns/links";
@import "patterns/article";
@import "patterns/bordered-list";
@import "patterns/bordered-list-horizontal";
@import "patterns/box";
@import "patterns/columns";
@import "patterns/links";
@import "patterns/projects-list";

/* Main layout
   ========================================================================== */

#header {
  .inner {
    @include clearfix;
    border-bottom: 2px solid #000;
  }
  @media (min-width: $break-nav) {
    #branding {
      float: left;
    }
    #nav {
      float: right;
    }
  }
}

#footer {
  .inner {
    border-top: 1px solid #999;
  }
  p {
    font-size: 1em;
  }
}


/* Sections
   ========================================================================== */

.section {
  // Vertical spacing
  padding: 0.5em 0;
  margin: 0.5em 0;
  .inner {
    max-width: 50em;
    margin: 0 auto;
  }
}

.content-inner {
  header,
  article p,
  article ul,
  article h2,
  article h3,
  article h4,
  article ol,
  article dl,
  article figcaption,
  article pre,
  .box,
  #respond,
  .month,
   {
    max-width: 95%;
    @media (min-width: $break-medium) {
      max-width: 600px;
      max-width: 60rem;
    }
    margin-left: auto;
    margin-right: auto;
  }
  
  header p,
  header h2 {
    max-width: 100%;
  }

  .reset-max-width {
    max-width: 100%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    @media (max-width: $break-medium - 1) {
      max-width: 95%;
    }
  }
}

/* Main nav
   ========================================================================== */

#nav ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 0 1em;
  font-size: 0.8em;
  @media (max-width: $break-nav - 1) {
    margin: 0 0.5em;
  }
  @media (min-width: $break-small-medium) {
    font-size: 0.9em;
  }
  @media (min-width: $break-nav) {
    padding: 1.25em 0 0;
    font-size: 1em;
    margin-right: 0.5em;
  }
  @media (min-width: $break-medium) {
    padding: 2em 0 0;
  }
  .supports-flex & {
    // If flexbox is supported
    display: -webkit-flex;
    display: flex;
  }
}

#nav li {
  margin-right: 0.5em;
  float: left;
  .supports-flex & {
    float: none;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  &:last-child {
    margin: 0;
  }
}

#nav a {
  padding: 0.7em 0.5em;
  @media (min-width: $break-nav) {
    padding: 0.5em 1em;
  }
  background: #EEE;
  display: block;
  color: #333;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  &:hover {
    text-decoration: none;
    background: #AAA;
    color: #FFF;
    border-bottom: 2px solid #999;
  }
}

#nav {
  .current-menu-item,
  .current-page-ancestor,
  .current_page_parent {
    a {
      color: #000;
      background: #FFF;
      text-decoration: none;
      border-bottom: 2px solid #DDD;
      cursor: default;
    }
  }
}

/* Branding
   ========================================================================== */

#branding {
  margin: 0 0 0.3em;
  @media (min-width: $break-medium) {
    margin: 0.5em 0;
  }
}

#branding a {
  display: block;
  border: none;
  color: #000;
  padding: 0.66em 0.75em 0.44em 0.75em;
  transition: background 0.18s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    background: #EEE;
  }
}

#branding p {
  margin: 0 0 0.1em 0.64em;
  font-size: 0.78em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

#branding h1 {
  margin: 0;
}

/* Spacing utitlities 
   ========================================================================== */

@media (max-width: $break-medium - 1) {

  .space-top-sm {
    margin-top: 2em;
  }

}

/* Article list 
   ========================================================================== */

.article-list .article-list-item {
  border-bottom: 1px solid #DDD;
  margin: 0 0 2em;
  padding: 0 0 2em;
  &:last-child {
    border: none;
    padding: 0;
    margin: 0;
  }
}

/* Forms 
   ========================================================================== */

textarea,
input[type="text"],
input[type="submit"] {
  border-radius: 4px;
  padding: 0.4em;
  @include font-reading;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #AAA;
  width: 100%;
}

label {
  display: block;
  color: #000;
}

input[type="submit"] {
  background: #000;
  color: #FFF;
  border: none;
  display: inline-block;
  padding: 0.4em 0.5em;
}

input#searchsubmit {
  margin-top: 0.5em;
}

/* Post navigation
   ========================================================================== */

#nav-below {
  margin-top: 2em;
  padding: 1.5em 0.5em;
  border-top: 1px solid #DDD;
  overflow: hidden;
}

.nav-previous a,
.nav-next a {
  @media (max-width: $break-medium - 1) {
    background: #EEE;
    padding: 5px;
    display: inline-block;
    border: none !important;
  }
}

.nav-previous {
  @media (min-width: $break-medium) {
    float: left;
    width: 48%;
  }
}

.nav-next {
  margin-top: 1em;
  @media (min-width: $break-medium) {
    margin-top: 0;
    float: right;
    width: 48%;
  }
}


/* Fix a/img problem 
   ========================================================================== */

a img {
  vertical-align: top;
}

/* Wrapper for responsive embeds (like YouTube)
   ========================================================================== */

.video-wrapper-limit-global-width {
  max-width: 36em;
}

.video-wrapper {
  position: relative;
  padding-bottom: 43%;
  height: 0;
  margin-bottom: 1.2em;
  &.aspect-2-3 {
    padding-bottom: 66.67%; /* 3:2 */
  }
  &.aspect-16-9 {
    padding-bottom: 56.25%; /* 16:9 */
  }
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Image styling 
   ========================================================================== */

img.has-shadow {
  box-shadow: 1px 1px 0 3px rgba(0,0,0,0.1);
}

figure img,
figcaption {
  display: block;
}

article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

article img.avatar {
  display: block;
  margin: 0 0 1em;
  max-width: 140px;
}

/* Comments 
   ========================================================================== */

#comments-list > ul {
  list-style: none;
  padding: 0.5em 0.5em 0.5em 3em;
  > li > ul.children {
    margin: 1em 0;
    list-style: none;
    padding-left: 3em;
  }
}

.comment-author {
  margin-left: -3em;
  img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    margin-top: 0.25em;
    float: left;
    display: block;
  }
}

.commentmetadata a {
  color: #999;
  border: none;
  text-decoration: none;
}

/* Code 
   ========================================================================== */

pre {
  background: #EEE;
  border-left: 10px solid #DDD;
  padding: 1em;
  font-size: 0.85em;
}