@import "normalize";
@import "_variables";

/* Base
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
}

/* ==========================================================================
  Mixins
   ========================================================================== */

/* Fonts for headings
   ========================================================================== */

@mixin font-heading {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Fonts for reading
   ========================================================================== */

@mixin font-reading {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin font-reading-bold {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin font-reading-italic {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}

/* Links
   ========================================================================== */

@mixin clearfix {
  *zoom : 1;

  &:before,
  &:after {
    display: table;
    content : "";
  }

  &:after {
    clear : both;
  }
}

/* Fix a/img problem
   ========================================================================== */

a img {
  vertical-align: top;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Accessibility
   ========================================================================== */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Good defaults
   ========================================================================== */

img, video {
  max-width: 100%;
}

/* Basic typo
   ========================================================================== */

html {
  font-size: 62.5%;
  @media (min-width: $break-small-medium) {
    font-size: 15/15*62.5%;
  }
  @media (min-width: $break-medium) {
    font-size: 16/15*62.5%;
  }
  @media (min-width: $break-large) {
    font-size: 17/15*62.5%;
  }
  @media (min-width: $break-huge) {
    font-size: 19/15*62.5%;
  }
  @media (min-width: $break-x-huge) {
    font-size: 21/15*62.5%;
  }
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.9) contrast(1.1);
  }
}

body {
  background: #FFF;
  @media (prefers-color-scheme: dark) {
    background: #292B2D;
    color: $text-standard-color-i;
  }
  line-height: 1.6;
  font-size: 1.5rem;
  -webkit-overflow-scrolling: touch;

  color: $text-standard-color;
  @include font-reading;

  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
}

*[lang="jp"],
*[lang="ja-JP"] {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  color: #000;
  @media (prefers-color-scheme: dark) {
    color: #FFF;
  }
}

h1, h2, h3 {
  @include font-heading;
}

h1 {
  line-height: 1.1;
  font-size: 2.4rem;
  margin: 0 0 2.4rem;
}

h2 {
  line-height: 1.3;
  font-size: 2.2rem;
  margin: 2.2rem 0 0.9rem;
}

h3 {
  font-size: 1.8rem;
  margin: 1.8em 0 0.9rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

p {
  margin: 1.5rem 0;
}

blockquote {
  border-left: .5rem solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-color: $border-color-i;
  }
  margin-left: 1rem;
  padding-left: 1rem;
}

strong {
  color: #000;
  @media (prefers-color-scheme: dark) {
    color: #FFF;
  }
}

/* Links
   ========================================================================== */

a {
  text-decoration: none;
  transition: all .22s ease-out;
  transition-property: color, border;
}

a:link {
  color: $accent-color;
  @media (prefers-color-scheme: dark) {
    color: $accent-color-i;
  }
  border-bottom: 1px solid mix($accent-color,#FFF,35%);
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid rgba($accent-color-i, 0.33);
  }
}

a:visited {
  color: mix($accent-color,#F00,65%);
  border-bottom: 1px solid mix(mix($accent-color,#F00,65%),#FFF,35%);

  @media (prefers-color-scheme: dark) {
    color: $visited-link-color;
  }
}

a:active,
a:focus,
a:hover {
  color: mix($accent-color,#000,80%);
  border-bottom: 1px solid mix($accent-color,#000,80%);
  @media (prefers-color-scheme: dark) {
    color: #D9C2FF;
    border-bottom: 1px solid rgba(#D9C2FF, 0.33);
  }
}

/* Bordered list - vertical (links only)
   ========================================================================== */

.bordered-list-title {
  margin: 2rem;
  padding: 0;
}

.bordered-list {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 2rem;
  li {
    a,
    > span {
      border-bottom: 1px solid $border-color;
      @media (prefers-color-scheme: dark) {
        border-color: $border-color-i;
      }
      padding: 0.5rem 0.75rem;
      display: block;
      > span {
        color: $muted-text;
        @media (prefers-color-scheme: dark) {
          color: $muted-text-i;
        }
      }
    }
    a {
      text-decoration: none;
      &:hover {
        background: $bg-lightest;
        transition: background 0.11s ease-in-out;
      }
      > span {
        color: $muted-text;
        @media (prefers-color-scheme: dark) {
          color: $muted-text-i;
        }
      }
    }
    &:last-child a {
      border: none;
    }
  }
}

.bordered-list-alt {
  li {
    a {
      background: $bg-lightest;
      @media (prefers-color-scheme: dark) {
        background: $bg-lightest-i;
      }
      padding: 2rem;
      &:hover {
        background: darken($bg-lightest, 10%);
        @media (prefers-color-scheme: dark) {
          background: lighten($bg-lightest-i, 5%);
        }
      }
    }
  }
}

/* Bordered list - vertical (links only)
   ========================================================================== */

.bordered-list-horizontal {
  list-style: none;
  padding: 0;
  @include clearfix;
  li {
    float: left;
    border-right: 1px solid $border-color;
    @media (prefers-color-scheme: dark) {
      border-right: 1px solid $border-color-i;
    }
    &:last-child {
      border: none;
    }
    a, span {
      padding: 0.5rem 1rem;
      display: block;
    }
    a {
      text-decoration: none;
      border: none;
      &:hover {
        background: $bg-lightest;
        @media (prefers-color-scheme: dark) {
          background: $bg-lightest-i;
        }
      }
    }
  }
}

/* Box
   ========================================================================== */

.box {
  background: $bg-lightest;
  @media (prefers-color-scheme: dark) {
    background: $bg-lightest-i;
  }
  padding: 0.75rem;
  margin: 0 0 0.5rem;
  overflow: hidden;
  svg {
    width: 1.6rem;
    top: 0.15rem;
    position: relative;
    margin-left: 0.3rem;
    opacity: 0.5;
    @media (prefers-color-scheme: dark) {
      fill: #FFF;
    }
  }
  h2 {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
  }
  p {
    margin: 0 0 0.5rem;
  }
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    li {
      border-top: 1px solid $border-color;
      @media (prefers-color-scheme: dark) {
        border-color: $border-color-i;
      }
      padding: 0.5rem 0 0;
      margin: 0.5rem 0 0;
      &:first-child {
        padding: 0;
        margin: 0;
        border: none;
      }
    }
  }
  .avatar {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-width: 5.5rem;
  }
}

/* Columns
   ========================================================================== */

$col-max: 100%;
$col-count: 12;

@media (min-width: $break-medium) {

  .row {
    margin-left: -1rem;
    margin-right: -1rem;
    @include clearfix;
  }

  .col-md-left {
    float: left;
  }

  .col-md-right {
    float: right;
  }

  .col-md, .container {
    padding: 0 1rem;
  }

  .col-md-1 { width: $col-max/$col-count*1; }
  .col-md-2 { width: $col-max/$col-count*2; }
  .col-md-3 { width: $col-max/$col-count*3; }
  .col-md-4 { width: $col-max/$col-count*4; }
  .col-md-5 { width: $col-max/$col-count*5; }
  .col-md-6 { width: $col-max/$col-count*6; }
  .col-md-7 { width: $col-max/$col-count*7; }
  .col-md-8 { width: $col-max/$col-count*8; }
  .col-md-9 { width: $col-max/$col-count*9; }
  .col-md-10 { width: $col-max/$col-count*10; }
  .col-md-11 { width: $col-max/$col-count*11; }
  .col-md-12 { width: $col-max/$col-count*12; }

  .col-md-push-1 { margin-left: $col-max/$col-count*1; }

}

/* Year
   ========================================================================== */

.year {
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0 0 0.5rem;
  }
  dl {
    margin: 0 0 1rem;
  }
}

.year dd {
  padding-bottom: 1.2rem;
  &:last-child {
    padding: 0;
  }
}

.type-page {
  padding: 5rem 1rem;
}

.year {
  h3 {
    color: $muted-text;
    @media (prefers-color-scheme: dark) {
      color: $muted-text-i;
    }
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.year {
  @include clearfix;
  h3 {
    float: left;
    width: 20%;
  }
   dl {
    float: right;
    width: 80%;
  }
}

/* Main layout
   ========================================================================== */

#header {
  border-bottom: 1px solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-color: $border-color-i;
  }
  margin: 0 0 1.6rem;
  @media (min-width: $break-medium) {
    padding: 2.4rem 0;
    margin: 2.4rem 0;
  }
  .inner {
    justify-content: space-between;
    display: flex;
  }
}

#footer {
  margin: 4.8rem 0;
  border-top: 1px solid $border-color;
  color: $muted-text;
  @media (prefers-color-scheme: dark) {
    color: $muted-text-i;
    border-color: $border-color-i;
  }
}

#footer ul {
  padding: 0;
}

#footer a {
  color: lighten($muted-text, 5%);
  @media (prefers-color-scheme: dark) {
    color: lighten($muted-text-i, 5%);
  }
}

#footer li {
  display: inline;
  list-style: none;
  padding: 0 1.2rem 0 0;
}

/* Main nav
   ========================================================================== */

#nav ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
  font-size: 0.8rem;
  display: flex;
}

#nav li {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  flex: 1 1 auto;
  &:last-child {
    margin: 0;
  }
}

#nav a {
  margin: 0.8rem 0;
  padding: 0.8rem;
  @media (min-width: $break-medium) {
    margin: 0;
    padding: 1rem 1.8rem;
  }
  color: $text-standard-color;
  background: $bg-lightest;
  @media (prefers-color-scheme: dark) {
    background: $bg-lightest-i;
    color: $bg-lightest;
  }
  text-decoration: none;
  display: block;
  border: none;
  &:hover {
    background: #AAA;
    color: #FFF;
  }
  @media (prefers-color-scheme: dark) {
    &:hover {
      background: #7E8992;
      color: $bg-lightest;
    }
  }
}

#nav {
  .current-menu-item,
  .current-page-ancestor,
  .current_page_parent {
    a {
      // Selected state wordpress
      color: #000;
      background: #FFF;
      @media (prefers-color-scheme: dark) {
        background: none;
        color: $bg-lightest;
      }
    }
  }
}

/* Branding
   ========================================================================== */

#branding h1 {
  margin: 0;
  @media (max-width: $break-medium) {
    font-size: 1.6rem;
    margin: 0.3rem 0 0;
  }
}

#branding a {
  margin: 0.8rem 0 0;
  @media (min-width: $break-medium) {
    margin: -0.6rem 0 0;
  }
  padding: 1rem;
  display: block;
  border: none;
  color: #000;
  transition: background 0.18s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    background: $bg-lightest;
    @media (prefers-color-scheme: dark) {
      background: $bg-lightest-i;
    }
  }
}

/* Article list
   ========================================================================== */

.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

article.type-post {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}

.footer-inner {
  max-width: 60rem;
  margin: 0 auto;
}

.article-list .article-list-item {
  border-bottom: 0.1rem solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-color: $border-color-i;
  }

  margin: 2.5rem 0;
  padding: 2.5rem 0;
  &:last-child {
    border: none;
    padding: 0;
    margin: 0;
  }
}

/* Forms
   ========================================================================== */

textarea,
input[type="text"] {
  border-radius: .4rem;
  padding: 0.8rem;
  @include font-reading;
  color: $text-standard-color;
  @media (prefers-color-scheme: dark) {
    background: #3D4246;
    color: $text-standard-color-i;
    border-color: $border-color-i;
  }

}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-color: $border-color-i;
  }
  width: 100%;
}

label {
  display: block;
  color: $text-heading;
  font-weight: 500;
  @media (prefers-color-scheme: dark) {
    color: #FFF;
  }
}

input[type="submit"] {
  background: #000;
  color: #FFF;
  border-radius: .4rem;
  padding: 0.8rem;
  @include font-reading;
  @media (prefers-color-scheme: dark) {
    background: #FFF;
    color: #000;
  }
  border: none;
  display: inline-block;
  padding: 0.4em 1.2rem;
}

input#searchsubmit {
  margin-top: 0.5rem;
}

/* Post navigation
   ========================================================================== */

#nav-below {
  margin-top: 2rem;
  padding: 1.5em 0.5rem;
  border-top: .1rem solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-color: $border-color-i;
  }
  overflow: hidden;
}

.nav-previous a,
.nav-next a {
  @media (max-width: $break-medium - 1) {
    background: $bg-lightest;
    @media (prefers-color-scheme: dark) {
      background: $bg-lightest-i;
    }
    padding: .5rem;
    display: inline-block;
    border: none !important;
  }
}

.nav-previous {
  @media (min-width: $break-medium) {
    float: left;
    width: 48%;
  }
}

.nav-next {
  text-align: right;
  margin-top: 1rem;
  @media (min-width: $break-medium) {
    margin-top: 0;
    float: right;
    width: 48%;
  }
}

/* Wrapper for responsive embeds (like YouTube)
   ========================================================================== */

.video-wrapper-limit-global-width {
  max-width: 36rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 43%;
  height: 0;
  margin-bottom: 1.2rem;
  &.aspect-3-4 {
    padding-bottom: 75%; /* 3:2 */
  }
  &.aspect-2-3 {
    padding-bottom: 66.67%; /* 3:2 */
  }
  &.aspect-16-9 {
    padding-bottom: 56.25%; /* 16:9 */
  }
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Image styling
   ========================================================================== */

img.has-shadow {
  box-shadow: 1px 1px 0 3px rgba(0,0,0,0.1);
}

figure img,
figcaption {
  display: block;
}

article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Comments
   ========================================================================== */

#comments {
  margin: 2rem auto 0;
  max-width: 95%;
  @media (min-width: $break-medium) {
    max-width: 60rem;
  }
}

#comments-list > ul {
  list-style: none;
  padding: 0;
  > li > ul.children {
    margin: 1rem 0;
    list-style: none;
    padding-left: 3rem;
  }
}

.comment-header {
  @include clearfix;
}

.comment-header-info {
  float: left;
}

.comment-header-avatar {
  img {
    width: 2.6rem;
    height: 2.6rem;
    margin-top: 0.2rem;
    display: block;
  }
  margin-right: 0.75rem;
  float: left;
}

.comment-author {
  cite {
    font-style: normal;
  }
  a {
    color: $text-standard-color;
    border-color: lighten($text-standard-color, 50%);
    // Blue style when hovering muted link
    &:hover {
      color: mix($accent-color,#000,80%);
      border-bottom: 1px solid mix($accent-color,#000,80%);
    }
    @media (prefers-color-scheme: dark) {
      color: $text-standard-color-i;
      border-color: darken($text-standard-color-i, 50%);
      &:hover {
        @media (prefers-color-scheme: dark) {
          color: #D9C2FF;
          border-bottom: 1px solid rgba(#D9C2FF, 0.33);
        }
      }
    }
  }
}

#comments.comment { // avoid issue with prism where we also have .comment
  border-bottom: 0.1rem solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-color: $border-color-i;
  }
  margin: 0 0 1rem;
  padding: 0 0 0.5rem;
}

.commentmetadata a {
  color: $muted-text;
  @media (prefers-color-scheme: dark) {
    color: $muted-text-i;
  }
  border: none;
  text-decoration: none;
}

/* Alignment fix
   ========================================================================== */

h2.align-with-bordered-list {
  padding-left: 0.4rem;
}

.entry-content {
  margin-bottom: 2rem;
}

/* Tables
   ========================================================================== */

.table {
  border-collapse: collapse;
  td, th {
    padding: 1rem;
    border: 0.1rem solid $border-color;
    @media (prefers-color-scheme: dark) {
      border-color: $border-color-i;
    }
  }
  th {
    text-align: left;
  }
}

hr {
  border: none;
  border-top: 1px solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-color: $border-color-i;
  }
  margin: 1rem 0;
}

/* Figures and captions
   ========================================================================== */

figure {
  margin: 0;
}

figcaption {
  color: $muted-text;
  @media (prefers-color-scheme: dark) {
    color: $muted-text-i;
  }
}

.wp-caption {
  background: $bg-lightest;
  @media (prefers-color-scheme: dark) {
    background: $bg-lightest-i;
  }
  padding: 1rem;
  margin: 0 auto;
  width: 100% !important;
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.wp-caption-text {
  text-style: italic;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* Belief
   ========================================================================== */

.belief {
  margin: 2rem 0 4rem;
  @media (min-width: $break-medium) {
    margin: 8rem 0;
  }
  font-size: 2.1rem;
  padding: 0 1rem;
}

.featured-content {
  margin: 8rem 0;
}

/* Article styling
   ========================================================================== */

article header p {
  margin: 0;
  margin-top: 0.8rem;
  color: $muted-text;
  @media (prefers-color-scheme: dark) {
    color: $muted-text-i;
  }
}

article header h1,
article header h2 {
  margin: 0;
}

article header {
  margin-bottom: 2.4rem; //@todo tie this to a more specific instance i.e. blog post
}

h2.reset-max-width {
  margin: 0 0 4rem; // @todo refactor to decent class
}

/* Some styles to make different types of content embeds behave
   ========================================================================== */

// Videos like Youtube
.wp-block-embed-youtube.wp-block-embed.is-type-video.wp-embed-aspect-16-9.wp-has-aspect-ratio {
  .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .wp-block-embed__wrapper iframe {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: auto !important;
    width: 100%;
    height: 100%;
  }
}

// Regular images
.wp-block-image img {
  height: auto;
}

.wp-block-image figure {
  max-width: 100%;
}

// Specific to instagram embeds

@media (max-width: 1000px) {
  .wp-block-embed-instagram.wp-block-embed.is-type-rich.is-provider-instagram {
    max-width: 100%;
    .wp-block-embed__wrapper {
      padding-bottom: 140%;
    }
  }
}


/* About page
   ========================================================================== */

// Similar styles as article.type-post
.content-inner {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}